{% extends "base" %}
{% block content %}
<section id="talk" class="talk">
    <header>
        <div class="container">
            <div class="header-container">
                <h1>{{ page.title }}</h1>
                <p>{{ page.location }}</p>
            </div>
        </div>
    </header>
    {% if page.slides_embed %}
        <div class="container slides-player">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {{ page.slides_embed|raw}}
                </div>
            </div>
        </div>
    {% elseif page.cover %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="{{ site.url }}/{{ page.cover }}" class="img-responsive" style="margin: 0 auto;">
                </div>
            </div>
        </div>
    {% elseif page.logo %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="{{ page.logo_link }}">
                        <img src="{{ site.url }}/{{ page.logo }}" class="img-responsive" style="margin: 0 auto;">
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                {% if page.blocks.talk_registration %}
                    <div class="well" style="clear: both; margin-top: 2em;">
                        {{ page.blocks.talk_registration|raw }}
                    </div>
                {% endif %}

                {% if ( page.slides_embed or page.cover ) and page.logo %}
                    <div class="logo">
                        <a href="{{ page.logo_link }}">
                            <img src="{{ site.url }}/{{ page.logo }}" class="img-responsive" style="margin: 0 auto;">
                        </a>
                    </div>
                {% endif %}
                <header>
                    <h2>{{ page.title }}</h2>
                    <h3>{{ page.location }}</h3>
                    <h4>
                        {% if page.fuzzy_date %}
                            {{ page.date|date("F Y") }}
                        {% else %}
                            {{ page.date|date("F jS, Y") }}
                        {% endif %}
                    </h4>
                </header>

                <div class="description">
                    {{ page.blocks.description|raw }}

                    {% if page.joinedin %}
                        <p>
                            Read and write reviews for this talk!
                            <a href="{{ page.joinedin }}">
                                <img class="joinedin" src="{{ site.url }}/assets/images/talks/joinedin-logo.png">
                            </a>
                        </p>
                    {% endif %}

                </div>
                <div class="tags">
                    {% for tag in page.tags %}
                        <span class="label label-default">{{ tag }}</span>
                    {% endfor %}
                </div>

                {% if page.blocks.talk_cta %}
                    <div class="well" style="clear: both; margin-top: 2em;">
                        {{ page.blocks.talk_cta|raw }}
                    </div>
                {% endif %}


                <br style="clear: both;">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                {% if page.next_talk %}
                    <a href="{{ page.next_talk.url }}">
                        &laquo;{{ page.next_talk.title }}
                    </a>
                {% endif %}
            </div>
            <div class="col-md-4" style="text-align: right;">
                {% if page.previous_talk %}
                    <a href="{{ page.previous_talk.url }}">
                        {{ page.previous_talk.title }}&raquo;
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
