<div class="talk clearfix" style="margin-bottom: 3em;">
    {% if talk.cover and talk.logo %}
        <div class="cover-image">
            {% if not talk.fuzzy_date %}
                <a href="{{ talk.url }}">
            {% endif %}
            <img class="img-responsive" src="{{ site.url }}/{{ talk.cover }}">
            {% if not talk.fuzzy_date %}
                </a>
            {% endif %}
        </div>
        <div class="logo logo--secondary" style="clear: right;">
            <a href="{{ talk.logo_link }}">
            <img class="img-responsive" src="{{ site.url }}/{{ talk.logo }}">
            </a>
        </div>
    {% elseif talk.cover or talk.logo %}
        <div class="{% if talk.cover %}cover-image{% else %}logo{% endif %}">
            {% if not talk.fuzzy_date %}
                <a href="{{ talk.url }}">
            {% endif %}
            <img class="img-responsive" src="{{ site.url }}/{% if talk.cover %}{{ talk.cover }}{% else %}{{ talk.logo }}{% endif %}">
            {% if not talk.fuzzy_date %}
                </a>
            {% endif %}
        </div>
    {% endif %}
    <div>
        <header>
            <h2>
                {% if talk.fuzzy_date %}
                    {{ talk.title }}
                {% else %}
                    <a href="{{ talk.url }}">{{ talk.title }}</a>
                {% endif %}
            </h2>
            <h3>At {{ talk.location }}</h3>
            <h4>
                {% if talk.fuzzy_date %}
                    in {{ talk.date|date("F Y") }}
                {% else %}
                    on {{ talk.date|date("F jS, Y") }}
                {% endif %}
            </h4>
        </header>
        <div class="description">
            {{ talk.blocks.description|raw }}

            {% if talk.joinedin %}
                <p>
                    Read and write reviews for this talk!
                    <a href="{{ talk.joinedin }}">
                        <img class="joinedin" src="{{ site.url }}/assets/images/talks/joinedin-logo.png">
                    </a>
                </p>
            {% endif %}
        </div>
        <div class="tags">
            {% for tag in talk.tags %}
                <span class="label label-default">{{ tag }}</span>
            {% endfor %}
        </div>
    </div>
</div>
