<div class="talk clearfix" style="margin-bottom: 3em;">
    {% if talk.cover %}
        <div class="cover-image">
            <a href="{{ talk.url }}">
                <img class="img-responsive" src="{{ site.url }}/{{ talk.cover }}">
            </a>
        </div>
    {% endif %}
    <div>
        <header>
            <h2><a href="{{ talk.url }}">{{ talk.title }}</a></h2>
            <h3>{{ talk.location }}</h3>
            <h4>
                {% if talk.fuzzy_date %}
                    {{ talk.date|date("F Y") }}
                {% else %}
                    {{ talk.date|date("F jS, Y") }}
                {% endif %}
            </h4>
        </header>
        <div class="description">
            {{ talk.blocks.description|raw }}
        </div>
        <div class="tags">
            {% for tag in talk.tags %}
                <span class="label label-default">{{ tag }}</span>
            {% endfor %}
        </div>
    </div>
</div>
