---
layout: default
nav: home
skills:
    - {type: lang, name: PHP, percent: 100}
    - {type: lang, name: Java, percent: 85}
    - {type: lang, name: JavaScript, percent: 80}
    - {type: lang, name: Python, percent: 70}
    - {type: lang, name: Ruby, percent: 70}
    - {type: lang, name: Objective-C, percent: 50}
projects:
    -
        name: Sculpin
        website: https://sculpin.io
        description: An extensible PHP static site generator.
        marketing: http://dflydev.com/projects/sculpin
        is_featured: true
        logo: assets/images/projects/sculpin-mascot-jackson-large@2x.png
    -
        name: Stack
        website: http://stackphp.com
        marketing: http://dflydev.com/projects/stackphp
        description: Symfony HTTP Kernel middlewares.
        is_featured: true
        logo: assets/images/projects/stack-logo.png

experiences:
    -
        name: Dragonfly Development
        website: http://dflydev.com
        role: Founder and Software Architect
        description: Responsible for high-touch client services for two major clients over five years. Tasks and projects included devops, continuous integration, online resource management, enterprise application development, and writing C code for embedded systems.
        logo: assets/images/experience/dflydev.png
        start: 2009
    -
        name: Offloc
        website: http://offloc.com
        role: Co-Founder and Software Architect
        description: Responsible for developing and deploying numerous high traffic microsites and research and development of <a href="http://offloc.com/amp/">AMP (Ambient Media Portal)</a>.
        logo: assets/images/experience/offloc.png
        start: 2010
    -
        name: REFLX Labs
        website: http://reflxlabsinc.com
        role: Co-Founder and Chief Software Architect
        description: Responsible for research and advising on long-term plans of the <a href="http://boogio.com">Boogio</a> product. Integration Boogio and Google Glass.
        logo: assets/images/experience/reflxlabs.png
        start: 2013
    -
        name: Mirror Quest
        website: http://mirrorquest.com
        role: Chief Software Architect
        description: Responsible for research and advising on long-term plans for health related wearable technologies.
        logo: assets/images/experience/mirrorquest.png
        start: 2013
    -
        name: Propmarks
        website: http://propmarks.com
        role: Co-Founder and Software Architect
        description: Responsible for initial planning and development of the Propmarks platform.
        start: 2010
        end: 2012
    -
        name: Halogen Creative
        location: Utah, Washington
        role: Co-Founder and Software Architect
        description: Responsible for research, design, and development of client and internal projects.
        start: 2005
        end: 2009
    -
        name: VIB.tv/HomeNet Communications
        location: Utah, Washington
        role: Lead Software Developer
        description: Responsible for design and development of set-top box software providing video services (live television and video-on-demand) over IP for Fiber To The Home networks.
        start: 2002
        end: 2005
    -
        name: Zengine
        location: California
        role: Software engineer, engineering manager
        description: Responsible for development of core project in addition to release management and managing the QA team.
        start: 2001
        end: 2002
    -
        name: DNAI/RCN
        location: California
        role: Software developer, Regional systems manager
        description:  Responsible for rewriting and maintaining internal billing and accounting software, created internal tools for customer support and customer service, and designed a migration plan for two legacy ISPs to be moved to a new shared data center.






---
<section id="welcome">
    <div class="welcome-container">
        <header>
            <h1>Beau Simensen</h1>
            <p>Software Architect</p>
        </header>
        <ul class="social-media">
            <li><a href="https://twitter.com/beausimensen"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/simensen"><i class="fa fa-github"></i></a></li>
            <li><a href="http://srcmvn.com"><i class="fa fa-rss"></i></a></li>
        </ul>
        <a class="primary" href="mailto:beau@beau.io">Contact Me</a>
    </div>
</section>
<section id="profile">
    <header>
        <div class="container">
            <div class="header-container">
                <h1>Profile</h1>
                <p>A proponent of framework agnostic code. Unglue all the things!</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="headshot-wrapper">
                    <div class="headshot">
                        <img src="{{ site.url }}/assets/images/beau.png" width="400" height="400">
                    </div>
                </div>
            </div>
            <div class="bio col-sm-9">
                <p>
                    Beau has over 15 years of polyglot software experience. Working mostly as a freelance developer over the last decade, he is also active in the open-source community.
                </p>

                <p>
                    In recent years, Beau has been focusing on PHP so it should come as no surprise that most of his recent <a href="{{ site.url }}/#projects" data-scroll-target="#projects">projects</a> are written in PHP.
                    He has been an active participant of the <a href="http://php-fig.com">PHP Framework Interoperabilty Group</a> (PHP-FIG)
                    and votes on behalf of <a href="https://sculpin.io">Sculpin</a>, a PHP-FIG member project.
                </p>

                <p>
                    After living in Seattle for many years Beau set off for the midwest with his wife and son to spend time with their families.
                </p>

                <p>
                    Currently, he lives near Madison, WI where he can frequently be found attending the <a href="http://madisonphp.com">Madison PHP</a> user group.
                </p>
            </div>
    </div>
</section>
<section id="news">
    <header>
        <div class="container">
            <div class="header-container">
                <h1>News</h1>
            </div>
        </div>
    </header>
    <div class="container">


        <h1>
            <a href="http://portland2013.live.symfony.com/">
                <img src="{{ site.url }}/assets/images/news/sfl_portland.png" class="sfl_portland" style="float: right; margin-left: 1em;">
            </a>
            Symfony Live Portland 2013
        </h1>
        <p>
            Welcome Symfony Live visitors! If you saw my presentation please
            <a href="https://joind.in/8667">leave me feedback!</a>
            If we met in person, <a href="https://twitter.com/beausimensen">please send
            me a Tweet</a> so we can stay in touch!
        </p>

        <p>
            <a href="http://srcmvn.com/blog/2013/05/23/symfony-live-2013-portland-embedded-composer/">See my blog post</a>
            for more information.
        </p>

    </div>
</section>
<section id="skills">
    <header>
        <div class="container">
            <div class="header-container">
                <h1>Skills</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            {% for skill in page.skills %}
                <div class="skill col-sm-4 col-lg-2">
                    <span class="chart" data-percent="{{ skill.percent }}">
                        <span class="percent">{{ skill.percent }}</span>
                        <h2>{{ skill.name }}</h2>
                    </span>
                </div>
            {% endfor %}
        </div>
        <div class="hire-me">
            <a class="primary" href="mailto:beau@beau.io">Hire Me</a>
        </div>
    </div>
</section>
<section id="experience">
    <header>
        <div class="container">
            <div class="header-container">
                <h1>Experience</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            {% for experience in page.experiences %}
                <div class="experience clearfix {% if experience.logo %}with-logo col-lg-6{% else %}col-lg-12{% endif %}">
                    {% if experience.logo %}
                        <div class="logo-wrapper">
                            {% if experience.website %}<a href="{{ experience.website }}">{% endif %}
                            <img src="{{ site.url }}/{{ experience.logo }}">
                            {% if experience.website %}</a>{% endif %}
                        </div>
                    {% endif %}
                    <div class="experience-meta">
                        <h2>{{ experience.name }}</h2>
                        {% if experience.website %}
                            <a href="{{ experience.website }}">{{ experience.website }}</a>
                        {% endif %}
                        <div class="role-wrapper">
                            <p>
                                <span class="role">{{ experience.role }}</span>
                                from
                                <span class="time">
                                    {{ experience.start }} -
                                    {% if experience.end %}
                                        {{ experience.end }}
                                    {% else %}
                                        Present
                                    {% endif %}
                                    {% if experience.location %}
                                        ({{ experience.location }})
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                         <p>{{ experience.description|raw }}</p>
                     </div>
                 </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="projects">
    <header>
        <div class="container">
            <div class="header-container">
                <h1>Projects</h1>
            </div>
        </div>
    </header>
    <div class="container">
            {% for project in page.projects %}
                <div class="project clearfix {% if project.logo %}with-logo col-lg-6{% else %}col-lg-12{% endif %}">
                    {% if project.logo %}
                        <div class="logo-wrapper">
                            <a href="{{ project.marketing }}"><img src="{{ site.url }}/{{ project.logo }}"></a>
                        </div>
                    {% endif %}
                    <div class="project-meta">
                        <h2><a href="{{ project.marketing }}">{{ project.name }}</a></h2>
                        {% if project.website %}
                            <a href="{{ project.website }}">{{ project.website }}</a>
                        {% endif %}
                         <p>{{ project.description }}</p>
                         <p class="read-more">
                            <a href="{{ project.marketing }}">read more &raquo;</a>
                         </p>
                     </div>
                 </div>
            {% endfor %}
            <div class="clearfix see-more-projects">
                <a class="primary" href="http://dflydev.com/projects/">See More Projects</a>
            </div>
        </div>
    </div>
</section>
<!--
<section id="talks">
    <header>
        <div class="container">
            <div class="header-container">
                <h1>Talks</h1>
            </div>
        </div>
    </header>
    <div class="container">
    </div>
</section>
-->
