---
layout: default
title: Talks
use: [talks]
meta:
    description: "Where I will be speaking in the future and where I have spoken in the past."
    keywords:
        - talks
        - presenting
        - conferences
        - speaking
        - speaking engagements
        - resume
        - cv
        - user groups
        - public speaking
        - speaches
    og:
        title: "Beau Simensen &middot; Speaking Engagements"
        description: "Where I will be speaking in the future and where I have spoken in the past."
        type: article
        image:
            url: http://beau.io/assets/images/beau-seattle-large.jpg
            width: 2000
            height: 960
            type: image/jpg

---
<section id="talks">
    {% set now = "now"|date_modify("+2 day")|date("U") %}

    {% set found = false %}
    {% for talk in data.talks|reverse if talk.date >= now %}
        {% if loop.first %}
            <header>
                <div class="container">
                    <div class="header-container">
                        <h1>Upcoming Talks</h1>
                        <p>Where I will be speaking in the future.</p>
                    </div>
                </div>
            </header>
            <div class="container">
            {% set found = true %}
        {% endif %}
        {% include "talks_listing_item" %}
    {% endfor %}
    {% if found %}
        </div>
    {% endif %}

    {% set found = false %}
    {% for talk in data.talks if talk.date < now %}
        {% if loop.first %}
            <header>
                <div class="container">
                    <div class="header-container">
                        <h1>Past Talks</h1>
                        <p>Where I have spoken in the past.</p>
                    </div>
                </div>
            </header>
            <div class="container">
            {% set found = true %}
        {% endif %}
        {% include "talks_listing_item" %}
    {% endfor %}
    {% if found %}
        </div>
    {% endif %}
</section>
